* {
  box-sizing: border-box;
}

/* style for user name and user comment */
input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #7a807a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #bfc0bf;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.forLable {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.forText {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.forText::placeholder {
  font-size: 1em;
  font-style: italic;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* style for pagination */
#button {
  border-radius: 20px;
  margin-top: 40px;
}

#pagination {
  display: inline-block;
  margin: 10px;
}

#pagination > li {
  float: left;
  margin: 10px 0px 0px 0px;
}

a{
  color: black;
  padding: 4px 16px;
  text-decoration: none;
}

#pagination > li {
  list-style-type: none;
}

#pagination a.active {
background-color:#8a8a8a;
color:black;
}

#pagination a:hover:not(.active) {
  background-color:#d4d4d4;
  color: black;
}

#comment-field {
  word-wrap: break-word;
}

/* style for responsive */
@media screen and (max-width: 600px) {
  .forLable, .forText, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
